body {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
}

.container {
  /*width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  */max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.container--left-only {
  max-width: fit-content;
  padding: 0 0 0 20px;
}

.container--short {
  max-width: 1165px;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
  .container--short {
    max-width: 736px;
    padding: 0 14px;
  }
  .container--left-only {
    max-width: 736px;
    padding: 0 0 0 16px;
  }
}