body {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}