.designers__wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 54px 0 0 0;
}

.designers__heading {
  width: fit-content;
  margin: 0;
  position: absolute;
  top: -4px;
  left: 119px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.designers__persons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 100%;
  gap: 20px;
  display: flex;
  overflow-x: auto;
  align-items: end;
}

.designers__persons-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.designers__persons-item--large-image {
  align-items: end;
}

.designers__image-wrapper {
  display: flex;
}

.designers__person-info {
  width: 332px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.designers__person-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.designers__person-note {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.designers__accented-note {
  font-weight: 700;
}

@media (max-width: 768px) {
  .designers__heading {
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 21px;
  }
  .designers__persons-list {
    gap: 16px;
  }
  .designers__persons-item--large-image {
    align-items: start;
  }
  .designers__image-wrapper {
    height: 439.46px;
    width: 309.05px;
    overflow: hidden;
    display: flex;
    justify-content: end;
  }
  .designers__image {
    object-fit: cover;
  }
  .designers__person-info {
    width: 300px;
  }
}