.header__wrapper {
  margin: 0 auto;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.header__logo {
  font-family: 'Playfair Display';
  font-size: 86px;
  font-weight: 600;
  line-height: 103.2px;
  color: #000000;
}

.header__nav-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__message-link {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .header__wrapper {
    height: 82px;
  }
  .header__logo {
    display: none;
  }
  .header__nav-wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .header__nav {
    width: calc(75% + 25.25px);
  }
  .header__message-link {
    width: 89px;
  }
}