body {
  font-family: "Roboto", "Arial", sans-serif;
  display: inline-flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 135px;
}

.logo {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 86px;
  line-height: 1.2;
  color: #000000;
  margin-left: 20px;
}

.nav {
  margin-right: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.menu-item {
  display: inline-block;
  margin-left: 20px;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  color: #000000;
}

.menu-link {
  text-decoration: none;
  color: #000000;
}

.accented-link {
  text-decoration: underline;
  color: #000000;
}

.message-icon {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-right: 20px;
}

.section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  color: #000000;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.welcome-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 630px;
  margin: 0;
  padding: 0;
  /*padding: 135px 375px;*/
  background: #E0B59F url("../images/inside-weather.jpg") no-repeat;
  background-size: cover;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 110px;
  margin: 0;
  width: 47.9167%;
  background: #FFFFFF;
}

.welcome-title {
  margin: 0 auto 14px;
  padding: 0;
  width: 100%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

.welcome-note{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #000000;
}

.biography-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 150px 138px;
}

.biography-image {
  margin: 0 20px 0 0;
  padding: 0;
  width: 49.055%;
  object-fit: cover;
}

.biography-title {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: right;
  transform-origin: right top;
  transform: translateX(-100%) rotate(-90deg);
  align-self: start;
  flex-basis: 0;
}

.biography-content {
  margin: 0;
  padding: 0;
  width: 39.089%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.director-name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 1.337;
  color: #000000;
  margin: 0 0 36px 0;
  padding: 0;
}

.director-note {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  color: #0D0D0D;
  margin: 0 0 36px 0;
  padding: 0;
}

.director-job, .director-skills {
  margin: 0;
  padding: 0;
}


.director-text {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.192;
  color: #0D0D0D;
  margin: 0;
  padding: 0;
}

.inblock-icon {
  width: 20px;
  height: 6px;
  margin: 0 0 18px 0;
  padding: 0;
  background-color: #0D0D0D;;
}

.director-quote {
  padding: 0;
  margin: 0;
}

.person-image {
  width: 335.96px;
  height: 439.46px;
}

.accented-image {
  width: 572px;
  height: 619px;
}

.person-content {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  color: #000000;
}

.person-name {
  font-weight: 700;
  text-transform: uppercase;
}

.accented-detail {
  font-weight: 700;
}

.section-image.testimonials-image {
  width: 451px;
  height: 760px;
}

.testimonials-note {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  color: #000000;
}

.testimonials-link-title {
  font-weight: 700;
  display: block;
}

.testimonials-link {
  text-decoration: none;
  color: #000000;
}


.content-quote.testimonials-quote {
  text-align: center;
  width: 221px;
  height: 304px;
  padding: 0;
  margin: 0;
}

.content-image.testimonials-image {
  width: 221px;
  height: 333px;
}

.strength-image {
  width: 335px;
  height: 554px;
}

.strength-image.last-image {
  height: 555px;
}

.strength-listname {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 1;
  color: #000000;
}

.strength-list {
  list-style-type: none;
}

.strength-item {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  color: #000000;
}

.footer {
  background-color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  color: #FFFFFF;
}

.contacts-block {
  text-transform: uppercase;
}

.telephone-link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}
.email-link {
  display: block;
  color: #FFFFFF;
}

.slogan-block {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}
.slogan-name {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.author-rights-block {
  line-height: 1;
}