.testimonials__wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 130px 0 147px 0;
  gap: 68px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.testimonials__heading {
  writing-mode: sideways-lr;
  position: absolute;
  left: calc(50% + 9px);
  top: 130px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.testimonials__links-list {
  writing-mode: sideways-lr;
  margin: 0;
  padding: 35px 0;
  list-style-type: none;
  position: absolute;
  left: 102px;
  bottom: 150px;
  top: 130px;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.testimonials__links-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 170px;
}

.testimonials__link-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}


.testimonials__link-itself {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.testimonials__image-wrapper {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  width: calc(50% - 13.5px);
  padding: 0 0 0 118px;
  overflow: hidden;
}

.testimonials__image {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.testimonials__inner {
  width: calc(50% - 56.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
  align-items: center;
  box-sizing: border-box;
  padding: 40.5px;
}

.testimonials__quote {
  font-family: 'Bitter';
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  max-width: 217px;
}

.testimonials__quote-image {
  max-width: 221px;
  max-height: 50%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .testimonials__wrapper {
    position: unset;
    padding: 80px 2px 78px;
    flex-direction: column;
    gap: unset;
    justify-content: start;
    align-items: center;
  }
  .testimonials__heading {
    writing-mode: unset;
    position: unset;
    transform: unset;
    font-size: 18px;
    line-height: 21px;
    align-self: flex-end;
    margin: 0 0 28px 0;
  }
  .testimonials__links-list {
    flex-direction: row-reverse;
    writing-mode: unset;
    position: unset;
    transform: unset;
    padding: 0;
    order: 1;
    width: 100%;
    flex-wrap: wrap;
  }
  .testimonials__links-item {
    box-sizing: border-box;
    width: calc(33.33% - 13.33);
    min-width: fit-content;
    height: unset;
    align-items: start;
  }
  .testimonials__image {
    display: none;
  }
  .testimonials__inner {
    flex-direction: row;
    width: 100%;
    padding: 0 0 28px 0;
    align-items: start;
    justify-content: space-between;
    gap: 39.5px;
  }
  .testimonials__quote {
    max-width: unset;
    width: calc(50% - 12px);
    max-height: 100%;
    height: auto;
    object-fit: contain;
    padding: 29px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.1px;
  }
  .testimonials__moby-string {
    display: block;  
  }
  .testimonials__quote-image {
    max-width: unset;
    width: calc(50% - 32px);
    height: 330px;
    object-fit: cover;
  }
}