.welcome-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 630px;
  background: #E0B59F url("../images/inside-weather.jpg") no-repeat;
  background-size: cover;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px;
  min-height: 360px;
  width: calc(47.9167%);
  background: #FFFFFF;
}

.welcome-title {
  margin: 0 auto 14px;
  padding: 0;
  width: 100%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 86px;
  line-height: 103.2px;
  text-align: center;
  color: #000000;
}

.welcome-note{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
